.terminal {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    .command-line {
        input[type='text'] {
            position: absolute;
            opacity: 0;
            z-index: -10;
        }
    }
}